{% include "website/framework/header.html" %}
<div id="page-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{ issue.name }}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tags</h3></div>
                    <div class="panel-body">
                        <span class="label label-warning tag"><font size="3">Feature</font></span>
                        <span class="label label-success tag"><font size="3">help wanted</font></span>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-group">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Message </h3></div>
                                <div class="panel-body">
                                    <p>{{ issue.message }}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-group">
                                <li class="list-group-item"><b>Priority:</b> {{ issue.get_priority_display }}</li>
                            </ul>
                        </div>

                        <div class="col-lg-6">
                            <ul class="list-group">
                                <li class="list-group-item"><b>Status:</b> {{ issue.get_status_display }}</li>
                            </ul>
                        </div>

                    </div>
                    <br/>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="container-fluid">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item"><b>Created on:</b> {{ issue.created }}</li>
                            <li class="list-group-item"><b>Created by:</b>
                                <a href="{% url 'users' issue.issuer.id %}">{{ issue.issuer.username }}</a></li>
                            <li class="list-group-item"><b>Closed on:</b> {{ issue.closed }}</li>
                            <li class="list-group-item">
                                <b>Assignee: </b>
                                <a href="{% url 'users' issue.assignee.id %}">{{ issue.assignee.username }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Commit: </b>
                                <a href="{{ issue.commit.github_url }}">{{ issue.commit.hash }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <button type="button" class="btn  btn-block btn-lg btn-primary" data-toggle="modal"
                        data-target="#addComment"><i class="fa fa-plus-circle"></i> Add comment
                </button>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn  btn-block btn-lg btn-info" data-toggle="modal"
                        data-target="#editIssue"><i class="fa fa-fw fa-pencil-square-o"></i> Edit issue
                </button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="container-fluid">
                <div class="tab-div-size-smaller">
                    <ul class="list-group">

                        {% for comment in issue.comments.all %}
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="{{ comment.commenter.github_url }}"> <img
                                            class="media-object img-circle center-image"
                                            src="{{ comment.commenter.img_url }}"
                                            alt="{{ comment.commenter.firstname }} {{ comment.commenter.lastname }}" width="48" height="48"/> </a>
                                </div>
                                <div class="media-body">
                                    <a href="{{ comment.commenter.github_url }}"><h4 class="media-heading"><b>{{ comment.commenter.username }}</b></h4>
                                    </a>
                                    <h6 class="media-heading"><b><i class="fa fa-clock-o"></i> {{ comment.timestamp }}</b></h6>
                                    <p> {{ comment.message }} </p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>


        <!-- /.container-fluid -->
    </div>
</div>
<!-- /#page-wrapper -->


<!--- Modal -->

<div class="modal fade" id="addComment" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add comment</h4>
            </div>
            <div class="modal-body">
                Comment text
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="editIssue" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit issue</h4>
            </div>
            <div class="modal-body">
                form for editing issue
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Confirm</button>
            </div>
        </div>

    </div>
</div>

<!--- /Modal -->


{% include "website/framework/footer.html" %}
