{% include "website/framework/header.html" %}

{% load website_filters %}

<div id="page-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dashboard
                    <small>User information</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class=" col-lg-3" width="210">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"> {{userPage.first_name}}&nbsp;{{userPage.last_name}} </h3>
                    </div>
                    <div class="panel-body">
                        <img class="media-object img-circle center-image"
                             src="{{userPage.img_url}}"
                             alt="{{userPage.first_name}} {{userPage.last_name}}" width="180" height="240"/>
                        <div class="text-right" style="margin-top:5px;">
                                     <a href="#" data-toggle="modal" data-target="#image_modal"  title="Change picture" data-tooltip>Change picture <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                        <!-- must user separate modal for this -->
                    </div>
                </div>
                <br/>
                <div>
                    <a class="btn btn-block btn-lg btn-success" href="{{userPage.github_url|absolute_url}}" target="_blank">
                    <i class="fa fa-eye"></i> Go on github</a>
                </div>
                <br/>
                {%if user.username == userPage.username%}
                <a class="btn btn-block btn-lg btn-primary" href="{% url 'repository_create' %}"
                   data-toggle="modal" data-target="#modal" title="create repository" data-tooltip>
                    <i class="fa fa-plus-circle"></i> Add repository</a>
                <br/>
                {%endif%}
            </div>
            <div class="col-lg-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#repositories" aria-controls="repositories"
                                                              role="tab" data-toggle="tab"><i
                            class="fa fa-database"></i> Repositories</a></li>
                    <li role="presentation"><a href="#contributions" aria-controls="contributions" role="tab"
                                               data-toggle="tab"><i class="fa fa-book"></i> Contributions</a></li>
                    <!--
                    <li role="presentation"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab"><i
                            class="fa fa-rss"></i> Activity</a></li>
                      -->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="repositories">
                        <div class="tab-div-size">
                            <ul class="list-group">
                                {% for repo in userPage.owned_repositories.all %}
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{% url 'repository' repo.id %}"> <i class="fa fa-3x fa-code" style="padding-top:2px"></i> </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="{% url 'repository' repo.id %}"><h4 class="media-heading"><b>{{ repo.name }}</b></h4></a>
                                            <p>{{ repo.description }}</p>
                                        </div>
                                    </div>
                                </li>
                                {%empty%}
                                <br />
                                &nbsp;&nbsp;There is no any repository.
                                {% endfor %}
                        </div>

                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane tab-div-size" id="contributions">
                        <ul class="list-group">

                            {% for repo in userPage.contributed_repositories.all %}
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="{% url 'repository' repo.id %}"> <i class="fa fa-3x fa-database" style="padding-top:2px"></i> </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="{% url 'repository' repo.id %}"><h4 class="media-heading"><b>{{repo.owner}}/{{repo.name}}</b></h4></a>
                                        <p> {{repo.description}}</p>
                                    </div>
                                </div>
                            </li>
                            {%empty%}
                                <br />
                                &nbsp;&nbsp;There is no any contributions.
                            {% endfor %}

                    </div>
<!--
                    <div role="tabpanel" class="tab-pane tab-div-size" id="activity">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#"> <img class="media-object img-circle center-image"
                                                          src="http://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m%2801-32%29_gr.jpg"
                                                          alt="Dragoljub Ilic" width="48" height="48"/> </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading"><b>RepoName</b></h4></a>
                                        <h6 class="media-heading"><b>Type(comment, commit, issue status)</b></h6>
                                        <p> Message </p>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#"> <img class="media-object img-circle center-image"
                                                          src="http://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m%2801-32%29_gr.jpg"
                                                          alt="Dragoljub Ilic" width="48" height="48"/> </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading"><b>JSD</b></h4></a>
                                        <h6 class="media-heading"><b>Comment</b></h6>
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nisl sed
                                            ipsum posuere pharetra. </p>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#"> <img class="media-object img-circle center-image"
                                                          src="http://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m%2801-32%29_gr.jpg"
                                                          alt="Dragoljub Ilic" width="48" height="48"/> </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading"><b>JSD</b></h4></a>
                                        <h6 class="media-heading"><b>Commit</b></h6>
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nisl sed
                                            ipsum posuere pharetra. </p>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#"> <img class="media-object img-circle center-image"
                                                          src="http://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m%2801-32%29_gr.jpg"
                                                          alt="Dragoljub Ilic" width="48" height="48"/> </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading"><b>JSD</b></h4></a>
                                        <h6 class="media-heading"><b>Commit</b></h6>
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nisl sed
                                            ipsum posuere pharetra. </p>
                                    </div>
                                </div>
                            </li>


                        </ul>

                    </div>

                    -->
                </div>
            </div>

        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

<br/>
</div>
<!-- /#wrapper -->

<!--- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- Bootstrap 3 requires 'modal-dialog' and 'modal-content' divs to be defined -->
    <!-- in same page as root modal div (top level page preferred) -->
    <!-- Although, success messages still need to be wrapped with these two divs in templates! -->
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- When button that opens the modal dialog is clicked, response of href attribute -->
            <!-- of that button is loaded which sets the content of this modal dialog. -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--- Modal -->
<div class="modal fade" id="image_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- Bootstrap 3 requires 'modal-dialog' and 'modal-content' divs to be defined -->
    <!-- in same page as root modal div (top level page preferred) -->
    <!-- Although, success messages still need to be wrapped with these two divs in templates! -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Image upload</h4>
            </div>
            <div class="modal-body">
                <p>Choose how you want to upload your profile image?</p>
                <div style="float:right;">
                    <a class="btn btn-small btn-info" onclick="hideModal()" href="{% url 'image_upload' %}"
                       data-toggle="modal" data-target="#modal" title="Upload image" data-tooltip>
                    <i class="fa fa-upload"></i> Upload image</a>

                    <a class="btn btn-small btn-primary" onclick="hideModal()" href="{% url 'image_url' %}"
                       data-toggle="modal" data-target="#modal" title="Enter image URL" data-tooltip>
                    <i class="fa fa-external-link"></i> Enter image URL</a>
                </div>
                <p>&nbsp;</p>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- It is necessary to clear up the root modal div when dialogs are canceled, -->
<!-- otherwise, always the first opened modal dialog will pop up -->
<script>
        $(document).ready(function() {
            $('body').on('hidden.bs.modal', '#modal', function () {
                $(this).removeData('bs.modal');
            });
        });

        function hideModal() {
            // bootstrap.js import must be in header for this to work
            $('#image_modal').modal('hide');
        };
</script>
<!--- /Modal -->

{% include "website/framework/footer.html" %}
