{% include "website/framework/header.html" %}
<div id="page-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{user.username}}
                    <small>Edit your profile</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <form method="post">
                    {% csrf_token %}
                    <p>
                        <input placeholder="First name" type="text" name="first_name" value="{{oldVer.first_name.value}} {{currentUser.first_name}}"
                               id="first_name" class="form-control" required/>
                    </p>
                    <p>
                        <input placeholder="Last name" type="text" name="last_name" value="{{oldVer.last_name.value}} {{currentUser.last_name}}"
                               id="last_name" class="form-control" required/>
                    </p>
                    <p>
                    <div class="form-group">
                        <input placeholder="E-mail" type="email" name="email" value="{{oldVer.email.value}} {{currentUser.email}}"
                               id="email" class="form-control"
                               required/>
                    </div>
                    </p>
                    <p>
                        <input placeholder="Image url" type="text" name="img_url" value="{{oldVer.img_url.value}} {{currentUser.img_url}}"
                               id="img_url" class="form-control" />
                    </p>
                    <p>
                        <input placeholder="Github url" type="text" name="github_url" value="{{oldVer.github_url.value}} {{currentUser.github_url}}"
                               id="github_url" class="form-control" required/>
                    </p>

                    <p>
                        <button id="changeProfile" class="btn btn-lg btn-success btn-block" type="submit"
                                value="Register">
                            Change profile
                        </button>
                    </p>
                </form>
                {% if not error == None %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> {{error}}
                </div>
                {% endif %}
                <br/>
            </div>



    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->


{% include "website/framework/footer.html" %}
