{% include "website/framework/header.html" %}
<div id="page-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    All repositories
                    <small>Search for repository</small>
                </h1>
            </div>
        </div>

        <form method="GET" action=''>
            <div class="row">
                <div class="col-lg-12">
                    <input type="text" name="search_text" class="form-control" placeholder="Search word" value="{{ request.GET.search_text }}"/><br/>
                    <button type="submit" class="btn btn-md btn-success"><i class="fa fa-search"></i> Search</button>
                    <button type="button" class="btn btn-md btn-warning" onclick="showStuff()"><i
                            class="fa fa-filter"></i>
                        Add filter
                    </button>
                </div>
            </div>

            <div class="row" id="filterData" style="display:none;">
                <br/>
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">Filter</h2>
                        </div>
                        <div class="panel-body">
                            <div class="radio">
                                <label>
                                    {% if request.GET.filterParameter == "all" %}
                                    <input type="radio" name="filterParameter" value="all" checked>
                                    {%else %}
                                     <input type="radio" name="filterParameter" value="all">
                                    {% endif %}
                                    All</label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if request.GET.filterParameter == "byName" %}
                                    <input type="radio" name="filterParameter" value="byName" checked>
                                    {%else %}
                                     <input type="radio" name="filterParameter" value="byName">
                                    {% endif %}
                                    By name</label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if request.GET.filterParameter == "byDescription" %}
                                    <input type="radio" name="filterParameter" value="byDescription" checked>
                                    {%else %}
                                     <input type="radio" name="filterParameter" value="byDescription">
                                    {% endif %}
                                    By description</label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if request.GET.filterParameter == "byOwner" %}
                                    <input type="radio" name="filterParameter" value="byOwner" checked>
                                    {%else %}
                                     <input type="radio" name="filterParameter" value="byOwner">
                                    {% endif %}
                                    By owner name</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <br/>
            <div class="col-lg-12">
                    <div class="table-responsive">
                        {% if repositories|length > 0 %}
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th width="30%">Description</th>
                                <th width="20%">Owner</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for repo in repositories %}
                            <tr>
                                <td><a href="{% url 'repository' repo.id %}">{{repo.name}}</a></td>
                                <td>{{repo.description}}</td>
                                <td><a href="{% url 'users'  repo.owner.id %}">{{repo.owner.username}}</a></td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <nav>

                            <ul class="pagination">
                                {% if repositories.has_previous %}
                                <li>
                                    <a href="?page={{ repositories.previous_page_number }}&search_text={{request.GET.search_text}}&filterParameter={{request.GET.filterParameter}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}

                                <li><a href="#">{{repositories.number}}</a></li>

                                {% if repositories.has_next %}
                                <li>
                                    <a href="?page={{ repositories.next_page_number }}&search_text={{request.GET.search_text}}&filterParameter={{request.GET.filterParameter}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% else %}
                        There is no any repository to show.
                        {% endif %}

                    </div>
            </div>
        </div>


        <!-- /.container-fluid -->

    </div>
</div>
<!-- /#page-wrapper -->

<script type="text/javascript">
function showStuff() {
    var style = document.getElementById("filterData").style.display;
    if(style=='block') {
    document.getElementById("filterData").style.display = 'none';
    }
    else{
    document.getElementById("filterData").style.display = 'block';
    }
}

</script>

{% include "website/framework/footer.html" %}
