{% include "website/framework/header.html" %}
<div id="page-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{repository.name}}
                    <small>{{repository.description|truncatechars:"33"}}</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="container-fluid">
                {% if user.is_authenticated and repository.owner == user %}
                <div class="col-lg-3">
                    <a class="btn btn-block btn-lg btn-info" href="{% url 'repository_edit' repository.id %}"
                            data-toggle="modal" data-target="#modal" title="edit repository" data-tooltip>
                        <i class="fa fa-pencil-square-o"></i> Edit repository</a>
                    <br/>
                </div>
                {% endif %}


                {% if user.is_authenticated %}
                    {%if user in repository.contributors.all or repository.owner == user %}
                    <div class="col-lg-3">
                        <button type="button" class="btn  btn-block btn-lg btn-primary" data-toggle="modal"
                                data-target="#newIssue"><i class="fa fa-plus-circle"></i> Create new issue
                        </button>
                        <br/>
                    </div>
                    {% endif %}
                {% endif %}

                {% if user.is_authenticated and repository.owner == user %}
                <div class="col-lg-3">
                    <button type="button" class="btn  btn-block btn-lg btn-success" data-toggle="modal"
                            data-target="#addContributor"><i class="fa fa-plus-circle"></i> Add contributor
                    </button>
                    <br/>
                </div>

                <div class="col-lg-3">
                    <a class="btn btn-block btn-lg btn-danger" href="{% url 'repository_delete' repository.id %}"
                            data-toggle="modal" data-target="#modal" title="delete repository" data-tooltip>
                        <i class="fa fa-trash"></i> Delete repository</a>
                    <br/>
                </div>
                <br/>
                {% endif %}
            </div>
        </div>


        <div class="row">
            <br/>
            <div class="container-fluid">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#commits" aria-controls="commits"
                                                              role="tab" data-toggle="tab"><i class="fa fa-code"></i>
                        Commits</a></li>
                    <li role="presentation"><a href="#issues" aria-controls="issues" role="tab" data-toggle="tab"><i
                            class="fa fa-exclamation-circle"></i> Issues</a></li>
                    <li role="presentation"><a href="#contributors" aria-controls="contributors" role="tab"
                                               data-toggle="tab">

                        <!--<i class="fa fa-user"></i> Ako ima samo jedan-->
                        <i class="fa fa-users"></i> Contributors</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="commits">
                        <div class="tab-div-size">
                            <ul class="list-group">

                                {% for commit in repository.commits.all %}
                                <li class="list-group-item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#"> <img
                                                    class="media-object img-circle center-image"
                                                    src="{{ commit.contributor.img_url }}"
                                                    alt="Dragoljub Ilic" width="48" height="48"/> </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#"><h4 class="media-heading"><b>{{ commit.contributor.username }}</b></h4></a>
                                            <h6 class="media-heading"><b><i class="fa fa-clock-o"></i> 01.01.2016 at
                                                4:32 PM</b></h6>
                                            <p> {{ commit.message }} </p>
                                        </div>
                                    </div>
                                </li>
                                 {%empty%}
                                <br />
                                &nbsp;&nbsp;&nbsp;There is no any commits.
                                {% endfor %}

                            </ul>
                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane tab-div-size" id="issues">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#"> <img
                                                class="media-object img-circle center-image"
                                                src="http://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m%2801-32%29_gr.jpg"
                                                alt="Dragoljub Ilic" width="48" height="48"/> </a>
                                    </div>
                                    <div class="media-body">

                                        <div class="col-lg-10">
                                            <a href="#"><h4 class="media-heading"><b>Issue Name / autor</b></h4></a>
                                        <h6 class="media-heading"><b>issue status</b></h6>
                                        <p> Short description </p>
                                        </div>
                                        <div class="col-log-2" style="vertical-align:middle">
                                            <p>&nbsp;</p>
                                            </div>


                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#"> <img
                                                class="media-object img-circle center-image"
                                                src="http://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m%2801-32%29_gr.jpg"
                                                alt="Dragoljub Ilic" width="48" height="48"/> </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading"><b>JSD</b></h4></a>
                                        <h6 class="media-heading"><b>Comment</b></h6>
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nisl sed
                                            ipsum posuere pharetra. </p>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#"> <img
                                                class="media-object img-circle center-image"
                                                src="http://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m%2801-32%29_gr.jpg"
                                                alt="Dragoljub Ilic" width="48" height="48"/> </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4 class="media-heading"><b>JSD</b></h4></a>
                                        <h6 class="media-heading"><b>Commit</b></h6>
                                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at nisl sed
                                            ipsum posuere pharetra. </p>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>

                    <div role="tabpanel" class="tab-pane tab-div-size" id="contributors">
                        <ul class="list-group">

                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="{% url 'users' repository.owner.id %}"> <img
                                                class="media-object img-circle center-image"
                                                src="{{ repository.owner.img_url }}"
                                                alt="{{repository.owner.first_name}} {{repository.owner.last_name}}" width="48" height="48"/> </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="{% url 'users' repository.owner.id %}"><h4 class="media-heading"><b>{{ repository.owner.username }}</b></h4></a>
                                        <h6 class="media-heading"><b>Owner</b></h6>
                                        <p> Last activity on this repo. <i class="fa fa-clock-o"></i> 01.01.2016 at
                                            4:32 PM </p>
                                    </div>
                                </div>
                            </li>


                            {% for contributor in repository.contributors.all %}
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="{% url 'users' contributor.id %}"> <img
                                                class="media-object img-circle center-image"
                                                src="{{ contributor.img_url }}"
                                                alt="{{contributor.first_name}} {{contributor.last_name}}" width="48" height="48"/> </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="{% url 'users' contributor.id %}"><h4 class="media-heading"><b>{{ contributor.username }}</b></h4></a>
                                        <p> Last activity on this repo. <i class="fa fa-clock-o"></i> 01.01.2016 at
                                            4:32 PM </p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>

                    </div>

                </div>

            </div>
        </div>
        <!-- /.container-fluid -->

    </div>


    <!--- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- Bootstrap 3 requires 'modal-dialog' and 'modal-content' divs to be defined -->
    <!-- in same page as root modal div (top level page preferred) -->
    <!-- Although, success messages still need to be wrapped with these two divs in templates! -->
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- When button that opens the modal dialog is clicked, response of href attribute -->
                <!-- of that button is loaded which sets the content of this modal dialog. -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- It is necessary to clear up the root modal div when dialogs are canceled, -->
    <!-- otherwise, always the first opened modal dialog will pop up -->
    <script>
        $(document).ready(function() {
            $('body').on('hidden.bs.modal', '.modal', function () {
                $(this).removeData('bs.modal');
            });
        });
    </script>
    <!--- /Modal -->


    <!-- /#page-wrapper -->
    {% include "website/framework/footer.html" %}
