<div class="modal-dialog">
    <div class="modal-content">
        <form id="modal_form" class="form" role="form" method="post"
                action="{% url 'image_url' %}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% block title %}Modal title{% endblock %}</h4>
            </div>
            <div class="modal-body">
                {% csrf_token %}

                <div class="form-group">
                    <label for="image_url">Name:</label>
                    <input class="form-control" id="image_url" maxlength="250" name="image_url" type="text" placeholder="Image URL">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-info" value="Update"/>
            </div>
        </form>
    </div>
</div>