{% include "website/framework/header.html" %}
<div id="page-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Change password
                    <small>Edit your profile</small>
                </h1>
            </div>
        </div>

        Page isn't finished yet. Change personal data, password, etc..


    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->


{% include "website/framework/footer.html" %}
