{% include "website/framework/header.html" %}
<div id="page-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    IssueName
                    <small>Short description</small>
                </h1>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="container-fluid">
                    <div class="row">
                        <span class="label label-warning tag"><font size="3">Feature</font></span>
                        <span class="label label-success tag"><font size="3">help wanted</font></span>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="Message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary">
                                <input type="radio" name="priority">Low
                            </label>
                            <label class="btn btn-primary active">
                                <input type="radio" name="priority">Medium
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="priority">High
                            </label>
                        </div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-info">
                                <input type="radio" name="priority">New
                            </label>
                            <label class="btn btn-info active">
                                <input type="radio" name="priority">In progress
                            </label>
                            <label class="btn btn-info">
                                <input type="radio" name="priority">Closed
                            </label>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="container-fluid">
                    <div class="row"> &nbsp;
                        <div>&nbsp;</div>
                    </div>
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item"><b>Created on:</b> 23.01.2016. 14:32</li>
                            <li class="list-group-item"><b>Created by:</b> <a href="#">drilic</a></li>
                            <li class="list-group-item"><b>Clsoed on:</b> 25.01.2016. 17:55</li>
                            <li class="list-group-item"><span class="badge" style="background-color:#5bc0de">
                                <a href="#" data-toggle="modal" data-target="#addAssigne"><font size="4"><i
                                        class="fa fa-fw fa-pencil-square-o"></i></font></a></span><b>
                                Assaigne: </b>
                                <a href="#">kornjaca</a>
                            </li>
                            <li class="list-group-item"><span class="badge" style="background-color:#5bc0de">
                                <a href="#" data-toggle="modal" data-target="#addCommit"><font size="4"><i
                                        class="fa fa-fw fa-pencil-square-o"></i></font></a></span><b>
                                Commit: </b>
                                <a href="#">ed0ef35</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="tab-div-size-smaller">
                    <ul class="list-group">

                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"> <img
                                            class="media-object img-circle center-image"
                                            src="http://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m%2801-32%29_gr.jpg"
                                            alt="Dragoljub Ilic" width="48" height="48"/> </a>
                                </div>
                                <div class="media-body">
                                    <a href="#"><h4 class="media-heading"><b>Username</b></h4>
                                    </a>
                                    <h6 class="media-heading"><b><i class="fa fa-clock-o"></i> 01.01.2016 at
                                        4:32 PM</b></h6>
                                    <p> Message </p>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#"> <img
                                            class="media-object img-circle center-image"
                                            src="http://www.uni-regensburg.de/Fakultaeten/phil_Fak_II/Psychologie/Psy_II/beautycheck/english/durchschnittsgesichter/m%2801-32%29_gr.jpg"
                                            alt="Dragoljub Ilic" width="48" height="48"/> </a>
                                </div>
                                <div class="media-body">
                                    <a href="#"><h4 class="media-heading"><b>Username</b></h4>
                                    </a>
                                    <h6 class="media-heading"><b><i class="fa fa-clock-o"></i> 01.01.2016 at
                                        4:32 PM</b></h6>
                                    <p> Message </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- /.container-fluid -->
    </div>
</div>
<!-- /#page-wrapper -->


<!--- Modal -->

<div class="modal fade" id="addCommit" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add commit</h4>
            </div>
            <div class="modal-body">
                Combo for commit (or something)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="addAssigne" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change assigne</h4>
            </div>
            <div class="modal-body">
                Combo for assigne
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Confirm</button>
            </div>
        </div>

    </div>
</div>
<!--- /Modal -->


{% include "website/framework/footer.html" %}
