<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Success!</h4>
        </div>
        <div class="modal-body">
            <p>{{ repository.name }} has been deleted successfully.</p>
            <script>
                setTimeout(function() { jQuery('#modal').modal('hide'); }, 1000);
                $('body').on('hidden.bs.modal', '.modal', function () {
                    $(this).removeData('bs.modal');
                    $(location).attr('href', '/website/repositories')
                });
            </script>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>